.submit_button {
    margin-top: 0.625rem;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 0.75rem;
    background-color: #ABFFB3;
    width: 5.81rem;
    font-weight: 700;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem;
  }